.app {
    position: relative;

    .navBar {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 999;
    }

    .bobyContent {
        padding-top: 60px;
    }
}